*{
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100vh;
}

header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-size: xx-large;
}

dialog{
    margin: auto;
}
/* 
form{
    display: flex;
} */

::backdrop{
    background-color: rgba(197, 205, 216, 0.6);
}

.content{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    grid-column: 1;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.sidebar ul{
    font-size: larger;   
    list-style: none;
}

#addnew{
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.listitems{
    grid-column: 2;
    background-color: #f9fafb;
    padding: 15px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    font-size: medium;
    width: 96%;
    height: 65px;
    margin: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    accent-color: #34d399;
}

.card:hover{
    box-shadow: 3.4px 6.9px 6.9px hsl(0deg 0% 0% / 0.39);
}

.card *{
    margin: 8px;
}

.card label{
    font-size: 24px;
}

.card span{
    font-size: 20px;
}

.high{
    border-left: 10px solid #dc2626;
}

.medium{
    border-left: 10px solid #fde047;
}

.low{
    border-left: 10px solid #22c55e;
}

.details{
    border: 2px solid #34d399;
    font-size: 18px;
    background-color: transparent;
    border-radius: 5px;
}

.details:hover{
    background-color: #34d399;
    color: white;
}

.btn{
    font-size: 21px;
    background-color: transparent;
    outline: none;
    border: none;
}

.btn:hover{
    color: #34d399;
}